# Site settings
title: Documentation
email: support@packager.io
description: > # this means to ignore newlines until "baseurl:"
  Learn how to package Ruby, NodeJS or Go applications by reading our documentation.
baseurl: "" # the subpath of your site, e.g. /blog/
url: "https://packager.io" # the base hostname & protocol for your site
twitter_username: hellopkgr
github_username:  pkgr
collections:
  articles:
    output: true
    permalink: /documentation/:path/
    categories:
      - getting-started
      - reference
      - languages
      - tips

# Build settings
markdown: HTMLPipeline
html_pipeline:
  filters:
    # - "sanitizationfilter"
    - "ExtendedMarkdownFilter"
    - "imagemaxwidthfilter"
    - "AddCssClassToTableFilter"
    - "tableofcontentsfilter"
    - "syntaxhighlightfilter"
    - "autolinkfilter"
  context:
    emf_use_blocks: true
redcarpet:
  extensions:
  - fenced_code_blocks
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: post
- scope:
    path: ''
    type: articles
  values:
    layout: doc
gems:
  - jekyll-html-pipeline
  - sanitize
  - pygments.rb
  - redcarpet
  - extended-markdown-filter
  - linguist
  - github/markdown
  - jekyll-autolink_email
