<div id="menu">
  <div class="container">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="{{ site.baseurl }}/" class="pure-menu-heading"><img alt="Packager" class="logo" src="{{ site.baseurl }}/static/img/packager.svg"></a>
      <ul>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="http://blog.packager.io">Blog</a></li>
        {% for nav_page in site.pages %}
          {% if nav_page.title %}
          <li class="{% if nav_page.selected %} pure-menu-selected {% endif %}"><a href="{{ nav_page.url | prepend: site.baseurl }}">{{ nav_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
