<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.subtitle %}{{ page.subtitle | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/static/css/pure/pure-min.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/static/css/main.css" | prepend: site.baseurl }}">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ "/static/css/pure/grids-responsive-old-ie-min.css" | prepend: site.baseurl }}">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ "/static/css/pure/grids-responsive-min.css" | prepend: site.baseurl }}">
  <!--<![endif]-->

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:200,400">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="{{ "/static/js/zepto.min.js" | prepend: site.baseurl }}"></script>
  <script>jQuery = $;</script>
</head>
