<div id="sidebar">
  <div class="pure-menu pure-menu-open">
  {% for category in site.collections.articles.categories %}
    <a class="pure-menu-heading">{{ category }}</a>
    <ul>
    {% assign articles =  site.collections.articles.docs | sort: 'order' %}
    {% for article in articles %}
    {% if article.categories contains category %}
      <li class="{% if page.url contains article.url %}pure-menu-selected{% endif %}">
        <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
      </li>
    {% endif %}
    {% endfor %}
    </ul>
  {% endfor %}
  </div>
</div>
